* {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   --text-color: #595d6a;
   --p-color: #800813;
   --t-color: #27304f;
   --card-width: 300px;
   --card-height: 500px;
   font-family: 'Play', sans-serif;
   font-size: 16px;
   font-weight: 200;
   color: var(--text-color);
}

body {
   height: 100%;
}

.card-container {
   width: var(--card-width);
   height: var(--card-height);
   display: block;
}

.img-container {
   width: var(--card-width);
   border: solid 3px var(--text-color);
}

.cards {
   background-color: green;
   display: inline-block;
}

img {
   width: 100%;
   height: auto;
}